@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Sarabun:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Prompt:ital,wght@1,200&family=Sarabun:wght@200&display=swap");

.row a {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.row img {
  width: 100px;
  height: 150px;
}

.col h3 {
  text-decoration: underline;
}

.col img {
  width: 100px;
  height: 100px;
}

a {
  font-family: "Sarabun", sans-seri;
}

h4 {
  font-family: "Sarabun", sans-seri;
}

h3 {
  font-family: "Mitr", sans-serif;
}
button {
  font-family: "Itim", cursive;
}
p {
  font-family: "Itim", cursive;
}

.MyFooter {
  background-color: rgb(222, 243, 68);
  position: fixed;
  bottom: 9px;
  width: 100%;
  color: white;
  text-align: center;
}
